javascript:
  google.load('visualization', '1.0', {'packages':['corechart']});
  google.setOnLoadCallback(drawOrdersChart);

  function drawOrdersChart() {
    
    $.get(
      'http://thirdfloor.herokuapp.com/data_points.json?name=daily_sales&limit=250'
    ).done(function(returned_data) {
      
      var data = new google.visualization.DataTable();
      data.addColumn('datetime', 'Time');
      data.addColumn('number', 'Orders');

      var chart_data = [];
      for (var i in returned_data.data_points) {
        var dp = returned_data.data_points[i];
        var dpd = dp.data;
        chart_data.unshift([
          new Date(Date.parse(dp.created_at)),
          parseInt(dpd.orders)
        ]);
      }
      data.addRows(chart_data);
      // Instantiate and draw our chart, passing in some options.
      var chart = new google.visualization.LineChart(document.getElementById('order_chart_div'));
      chart.draw(data, {
        'title':'Orders Today',
        'width':'100%',
        'height':150,
        'colors': ['green'],
        'lineWidth': 5,
        'titleTextStyle': { 'color' : '#FFFFFF'},
        'backgroundColor':'rgb(15,15,20)',
        'legend': { position: 'none' },
        'vAxis': {
          'title': 'Orders',
          'baselineColor': 'white',
          'textStyle': { color: 'white' },
          'titleTextStyle': { color: 'white' },
          'gridlines': { color: 'transparent'}
        },
        'hAxis': {
          'baselineColor': 'white',
          'textStyle': { color: 'white' },
          'gridlines': { color: 'transparent'}
        }
      });
    });
  }

#order_chart_div
