// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.reload-countdown {
  height: 2px;
  width: 100%;
  background-color: green;
  margin: 0 auto;
}

.home {
  padding-top:2px;
  height: 100vh;
  .inline-container {
    // height: 100vh;
    display:inline-block;
    width: 49%;
    margin-left: 0.5%;
    vertical-align: top;
    border: 1px solid rgb(30,30,30);
  }
}